openapi: 3.0.0
info:
  version: '0.1'
  title: 'LBAW FinJet Web API'
  description: 'Recursos web (A7) para FinJet'
servers:
- url: http://lbaw2191.lbaw.fe.up.pt
  description: 'Servidor de Produção'
externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2191/-/wikis/home
  description: 'Encontre mais informação na wiki'
tags:
  - name: 'M01: Autenticação e perfil individual'
  - name: 'M02: Administração de utilizadores e páginas estáticas'
  - name: 'M03: Visualização, votação, pesquisa e resposta a questões'
  - name: 'M04: Criação e edição de questões. Edição de respostas e comentários'
paths:

#MO1
  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Login'
      description: 'Providencia um formulário de login. Acesso: PUB'
      tags:
      - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra formulário de login'
    post:
      operationId: R102
      summary: 'R102: Ação de Login'
      description: 'Processa a submissão do formulário de login. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302': 
          description: 'Redirecionar depois de processar as credenciais de login'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Autenticação sucedida. Redirecção para a homepage'
                  value: '/'
                302SucessoBanido:
                  description: 'Autenticação sucedida. Utilizador banido.'
                  value: '/perfil/{nomeUtilizador}'
                302Erro:
                  description: 'Autenticação falhou. Redirecção para a página de login'
                  value: '/login'
  
  /login/recuperacao:
    get:
      operationId: 'R103'
      summary: 'R103: Formulário de recuperação de password'
      description: 'Providencia um formulário para recuperar o acesso à conta. Acesso: PUB'
      tags: 
        - 'M01: Autenticação e perfil individual'
      responses:
        '200': 
          description: 'Ok. Mostra formulário de recuperação'
    post:
      operationId: 'R104'
      summary: 'R104: Submissão de dados de recuperação'
      description: 'Processa a submissão de dados de recuperação'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302': 
          description: 'Redirecção depois da submissão dos dados da conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados submetidos. Se a conta existir será recebido um email com dados de recuperação.'
                  value: '/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Ação de logout'
      description: 'Faz o logout do utilizador autenticado. Acesso: USR, MOD, ADM'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '302':
          description: 'Redirecção depois de processar o logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Logout efetuado com sucesso'
                  value: '/'
        '403':
          description: 'O utilizador não estava autenticado.'

  /login/registo:
    get:
      operationId: R106
      summary: 'R106: Página de registo do utilizador'
      description: 'Providencia a página de registo de utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra página de registo'

    post:
      operationId: R107
      summary: 'R107: Ação de registo'
      description: 'Processa os dados da nova conta fornecidos pelo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nomeUtilizador:
                  type: string
                nome:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                email:
                  type: string
                password:
                  type: string
              required:
                - nomeUtilizador
                - nome
                - dataNascimento
                - email
                - password
      responses:
        '302':
          description: 'Redirecção depois de processar dados fornecidos'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'A conta foi corretamente criada'
                  value: '/perfil/{userName}'
                302Erro:
                  description: 'Os dados fornecidos pelo cliente não são válidos.'
                  value: '/login/registo'

  /perfil/{nomeUtilizador}:
    get:
      operationId: R108
      summary: 'R108: Perfil do utilizador'
      description: 'Mostra a informação do perfil de um utilizador. Acesso: USR, OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '302':
          description: 'O utilizador autenticado não tem permissões suficientes. Por isso é redirecionado à página de login.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Redireção à página de login'
                  value: '/login'
        '404':
          description: 'ID não existe. Mostra página de erro'
  
  /perfil/{nomeUtilizador}/editar:
    get:
      operationId: R109
      summary: 'R109: Edição do perfil do utilizador'
      description: 'Mostra a página de edição do perfil de um utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição do perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'
    
    patch:
      operationId: R110
      summary: 'R110: Submete dados editados'
      description: 'Processa os dados de perfil que foram editados pelo utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nome:
                  type: string
                email:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                descricao:
                  type: string
                password:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados alterados com sucesso'
                  value: '/perfil/{nomeUtilizador}'
                303Erro:
                  description: 'Email duplicado'
                  value: '/perfil/{nomeUtilizador}/editar'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'

  /perfil/{nomeUtilizador}/imagem:
    put:
      operationId: R113
      summary: 'R113: Alteração de imagem de perfil do utilizador'
      description: 'Altera a imagem de perfil do utilizador para a imagem enviada. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imagem_perfil:
                  type: string
                  format: binary
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'

    delete:
      operationId: R114
      summary: 'R114: Eleminação da página imagem de perfil'
      description: 'Elimina a imagem de perfil de um utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'

  /perfil/{nomeUtilizador}/apelos:
    get:
      operationId: R115
      summary: 'R115: Lista os apelos do utilizador.'
      description: 'Mostra uma página com os apelos do utilizador. Se este puder fazer mais apelos é apresentado um formulário de apelos. Acesso: BAN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: 'Ok. Mostra a página.'
        '403': 
          description: 'O utilizador não está banido ou autenticado.'
    post:
      operationId: R116
      summary: 'R116: Cria um novo apelo de desbloqueio.'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Apelo feito com sucesso'
                  value: '/perfil/{nomeUtilizador}/apelos'
                303Erro:
                  description: 'Não são permitidos mais apelos'
                  value: '/perfil/{nomeUtilizador}/apelos'
  /perfil/{nomeUtilizador}/eliminar: 
        delete:
          operationId: R117
          summary: 'R117: Eliminar perfil'
          description: 'Elimina o perfil. Acesso: OWN, ADM'
          tags:
            - 'M01: Autenticação e perfil individual'
          parameters:
            - in: path
              name: nomeUtilizador
              schema:
                type: string
              required: true
          responses:
            '302':
              description: 'Redirecionando após eliminar perfil.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Sucesso:
                      description: 'Perfil eliminado com sucesso.'
                      value: '/'
                    302Erro:
                      description: 'Falha na eliminação do perfil. Redirecionando para o perfil' 
                      value: '/perfil/{nomeUtilizador}'
            '404':
              description: 'Nome utilizador não existe. Mostra página de erro.'
            '403':
              description: 'O utilizador não tem permissões suficientes.'

#M02 
  /sobrenos:
    get:
      operationId: R201
      summary: 'R201: Sobre nós'
      description: 'Mostra a página Sobre nós. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Sobre nós'
  /contactos:
    get:
      operationId: R202
      summary: 'R202: Contactos'
      description: 'Mostra a página Contactos. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Contactos'
  /faq:
    get:
      operationId: R203
      summary: 'R203: FAQ'
      description: 'Mostra a página FAQ. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página FAQ'
  /servicos:
    get:
      operationId: R204
      summary: 'R204: Serviços'
      description: 'Mostra a página Serviços. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Serviços.'

  /admin/moderadores:
    get:
      operationId: R205
      summary: 'R205: Administração de moderadores do sistema'
      description: 'Mostra a página de administração de moderadores do sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de administração dos moderadores do sistema.'
          content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      idUtilizador:
                        type: integer
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
    put:
      operationId: R206
      summary: 'R206: Alteração de permissões de moderador'
      description: 'Adiciona ou remove moderadores ao sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: array
              items:
                type: object
                properties:
                  moderador:
                    type: boolean
                  idUtilizador:
                    type: integer
      responses:
        '302':
          description: 'Redirecionando após alterar permissões de moderador'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Alteração de permissão aceite. Redirecionando para a página de moderador'
                  value: '/admin/moderadores'
                302Erro:
                  description: 'Alteração de permissão rejeitada. Redirecionando para a página de moderador' 
                  value: '/admin/moderadores'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'

  /admin/banimento:
    get:
      operationId: R207
      summary: 'R207: Administração de moderadores do sistema'
      description: 'Mostra a página de apelos de banimento. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de apelos de banimento.'
          content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      idApelo:
                        type: integer
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
    put:
      operationId: R208
      summary: 'R208: Desbloqueia contas'
      description: 'Desbloqueia contas. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  idUtilizador: 
                    type: integer
    
      responses:
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Desbloqueio feito com sucesso. Redirecionando para a página de banimento'
                  value: '/admin/banimento'
                302Erro:
                  description: 'Desbloqueio de conta rejeitado. Redirecionando para a página de banimento' 
                  value: '/admin/banimento'

  /banir:
    post: 
      operationId: R209
      summary: '209: Bane um utilizador.'
      description: 'Quando é feita com sucesso, o utilizador é banido. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: array
              items:
                type: object
                properties:
                  idUtilizador: 
                    type: integer
      responses:
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Bloqueio feito com sucesso. Redirecionando o perfil.'
                  value: '/perfil/{idUtilizador}'
                302Erro:
                  description: 'Bloqueio de conta rejeitado. Redirecionando o perfil.' 
                  value: '/perfil/{idUtilizador}'

#M03
  /questao/{idQuestao}:
    get:
      operationId: R301
      summary: 'R301: Visualização de questões.'
      description: 'Mostra a página que apresenta a página de uma questão com as suas respostas e comentários. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Mostra a página da questão'
        '404':
          description: 'Erro. Questão com determinado id não encontrada'
  
  /votar/questao/{idQuestao}:
    get:
      operationId: R302
      summary: 'R302: Número de votos em questões. '
      description: 'Retorna o número de votos numa questão. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Retorna os votos numa questão'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    nVotos:
                      type: integer
        '404':
          description: 'Erro. Questão com determinado id não encontrada'
    put:
      operationId: R303
      summary: 'R303: Votação em questões.'
      description: 'Processa um pedido de voto em determinada questão. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: object
              properties:
                voto:
                  type: boolean
                idUtilizador:
                  type: integer
      responses:
        '200':
          description: 'Voto pôde ser processado'
        '403':
          description: 'Voto foi inválido, o utilizador não tem permissão para votar'

  /votar/resposta/{idResposta}:
    get:
      operationId: R304
      summary: 'R304: Número de votos em respostas.'
      description: 'Retorna o número de votos numa resposta. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Retorna os votos numa resposta'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    nVotos:
                      type: integer
        '404':
          description: 'Erro. Resposta com determinado id não encontrada'
    put:
      operationId: R305
      summary: 'R305: Votação em resposta.'
      description: 'Processa um pedido de voto em determinada resposta. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: object
              properties:
                voto:
                  type: boolean
                idUtilizador:
                  type: integer
      responses:
        '200':
          description: 'Voto pôde ser processado'
        '403':
          description: 'Voto foi inválido, o utilizador não tem permissão para votar'

  /criar/resposta:
    post:
      operationId: R306
      summary: 'R306: Criação de Respostas.'
      description: 'Processa o pedido de criação de uma resposta a uma questão. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir a resposta'
                  type: integer
              required:
                - texto
                - autor
                - idQuestao
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'

  /criar/comentario:
    post:
      operationId: R307
      summary: 'R307: Criação de Comentários.'
      description: 'Processa o pedido de criação de um comentário a uma questão ou resposta. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir o comentário'
                  type: integer
                idResposta:
                  description: 'ID da resposta onde se pretende inserir o comentário'
              required:
                - texto
                - autor
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'

  /resposta-correta/{idQuestao}:
    get:
      operationId: R308
      summary: 'R308: Acesso à resposta correta.'
      description: 'Retorna o id da resposta correta a uma determinada questão. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      responses:
        '200': 
          description: 'Ok. Questão encontrada'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    idResposta:
                      type: integer
    post:
      operationId: R309
      summary: 'R309: Marca a resposta correta.'
      description: 'Marca como correta a resposta de id enviado. Acesso: OWN'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idResposta:
                  description: 'Resposta que deve ser marcada como correta'
                  type: integer
              required:
                - idResposta
      responses:
        '200': 
          description: 'Resposta marcada com sucesso'
        '403':
          description: 'Resposta ou Questão não encontradas.'

  /questoes:
      get:
        operationId: R310
        summary: 'R310: Lista de Questões'
        description: 'Mostra a lista de questões associadas a uma pesquisa. Acesso: PUB'
        tags:
          - 'M03: Visualização, votação, pesquisa e resposta a questões'
        parameters:
        - in: query
          name: query
          description: 'Pesquisa exata'
          schema:
            type: string
          required: false
        - in: query
          name: etiqueta
          description: 'Pesquisa por etiquetas'
          schema:
            type: string
          required: false
        - in: query
          name: ordenar
          description: 'Ordenação de perguntas'
          schema:
            type: string
            enum:
              - mais_votos
              - mais_recente
              - mais_reputacao
          required: false
        responses:
          '200':
            description: 'Ok. Mostra a lista de questões'
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      idQuestao:
                        type: integer

#M04
  /criarquestao:
    get:
      operationId: R401
      summary: 'R401: Criação de questões'
      description: 'Mostra a página de criação de questões. Acesso: USR'
      tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      responses:
        '200':
          description: 'Ok. Mostra a página de criação de questões.'
    post:
      operationId: R402
      summary: 'R402: Cria uma questão'
      description: 'Cria uma questão. Acesso: USR'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                titulo:
                  type: string
                texto:
                  type: string
                etiqueta:
                  type: string
              required:
                - titulo
                - texto
                - etiqueta
    
      responses:
        '302':
          description: 'Redirecionando após criar questão'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Criação de questão feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{idQuestao}'
                302Erro:
                  description: 'Falha na criação da questão. Redirecionando para a homepage' 
                  value: '/'

  /questao/{idQuestao}/editar:
    get:
      operationId: R403
      summary: 'R403: Editar questões'
      description: 'Mostra a página de edição de questões. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição de questões.'
    post:
      operationId: R404
      summary: 'R404: Edita uma questão'
      description: 'Edita uma questão. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      
      parameters:
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                titulo:
                  type: string
                texto:
                  type: string
                etiqueta:
                  type: string
              required:
                - titulo
                - texto
                - etiqueta
    
      responses:
        '302':
          description: 'Redirecionando após editar questão'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Edição de questão feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{idQuestao}'
                302Erro:
                  description: 'Falha na edição da questão. Redirecionando para a página da questão' 
                  value: '/questao/{idQuestao}'
  /questao/{idQuestao}/editar-resposta/{idResposta}: 
    get:
      operationId: R405
      summary: 'R405: Editar respostas'
      description: 'Mostra a página de edição de respostas. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: idResposta
        description: 'id da resposta'
        schema:
          type: integer
        required: true
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição de respostas.'
        '404':
          description: 'ID não existe. Mostra página de erro.'
    put:
      operationId: R406
      summary: 'R406: Edita uma reposta'
      description: 'Edita uma resposta. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: idResposta
        description: 'id da resposta'
        schema:
          type: integer
        required: true
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                texto:
                  type: string
              required:
                - texto
    
      responses:
        '302':
          description: 'Redirecionando após editar resposta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Edição de resposta feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{idQuestao}'
                302Erro:
                  description: 'Falha na edição da resposta. Redirecionando para a página da questão' 
                  value: '/questao/{idQuestao}'
        '403':
          description: 'O utilizador não tem permissões suficientes.'
        '404':
          description: 'ID não existe. Mostra página de erro.'
  /questao/{idQuestao}/editar-comentario/{idComentario}: 
      get:
        operationId: R407
        summary: 'R407: Editar comentários'
        description: 'Mostra a página de edição de comentários. Acesso: OWN'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idComentario
          description: 'id do comentário'
          schema:
            type: integer
          required: true
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        responses:
          '200':
            description: 'Ok. Mostra a página de edição de comentários.'
          '404':
            description: 'ID não existe. Mostra página de erro.'
      put:
        operationId: R408
        summary: 'R408: Edita um comentário'
        description: 'Edita um comentário. Acesso: OWN'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idComentario
          description: 'id do comentario'
          schema:
            type: integer
          required: true
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded: 
              schema:
                type: object
                properties:
                  texto:
                    type: string
                required:
                  - texto
      
        responses:
          '302':
            description: 'Redirecionando após editar comentário'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Sucesso:
                    description: 'Edição do comentário feito com sucesso. Redirecionando para a página da questão'
                    value: '/questao/{idQuestao}'
                  302Erro:
                    description: 'Falha na edição do comentário. Redirecionando para a página da questão' 
                    value: '/questao/{idQuestao}'
          '403':
            description: 'O utilizador não tem permissões suficientes.'
          '404':
            description: 'ID não existe. Mostra página de erro.'
  /questao/{idQuestao}/eliminar: 
      delete:
        operationId: R409
        summary: 'R409: Eliminar questão'
        description: 'Elimina uma questão. Acesso: OWN, MOD, ADM'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        responses:
          '302':
            description: 'Redirecionando após eliminar questão.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Sucesso:
                    description: 'Questão eliminada com sucesso.'
                    value: '/'
                  302Erro:
                    description: 'Falha na eliminação da questão. Redirecionando para a página da questão' 
                    value: '/questao/{idQuestao}'
          '404':
            description: 'ID não existe. Mostra página de erro.'
          '403':
            description: 'O utilizador não tem permissões suficientes.'
  /questao/{idQuestao}/{idResposta}/eliminar: 
      delete:
        operationId: R410
        summary: 'R410: Eliminar resposta'
        description: 'Elimina uma resposta. Acesso: OWN, MOD, ADM'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idResposta
          description: 'id da resposta' 
          schema:
            type: integer
          required: true
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        responses:
          '302':
            description: 'Redirecionando após eliminar resposta.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Sucesso:
                    description: 'Resposta eliminada com sucesso. Redirecionando para a página da questão'
                    value: '/questao/{idQuestao}'
                  302Erro:
                    description: 'Falha na eliminação da resposta. Redirecionando para a página da questão' 
                    value: '/questao/{idQuestao}'
          '404':
            description: 'ID não existe. Mostra página de erro.'
          '403':
            description: 'O utilizador não tem permissões suficientes.'
  /questao/{idQuestao}/{idComentario}/eliminar: 
        delete:
          operationId: R411
          summary: 'R411: Eliminar comentário'
          description: 'Elimina um comentário. Acesso: OWN, MOD, ADM'
          tags:
          - 'M04: Criação e edição de questões. Edição de respostas e comentários'
          parameters:
          - in: path
            name: idComentario
            description: 'id do comentario' 
            schema:
              type: integer
            required: true
          - in: path
            name: idQuestao
            description: 'id da questao'
            schema:
              type: integer
            required: true
          responses:
            '302':
              description: 'Redirecionando após eliminar comentário.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Sucesso:
                      description: 'Comentário eliminado com sucesso. Redirecionando para a página da questão'
                      value: '/questao/{idQuestao}'
                    302Erro:
                      description: 'Falha na eliminação do comentário. Redirecionando para a página da questão' 
                      value: '/questao/{idQuestao}'
            '404':
              description: 'ID não existe. Mostra página de erro.'
            '403':
              description: 'O utilizador não tem permissões suficientes.'
        


        