openapi: 3.0.0
info:
  version: '0.1'
  title: 'LBAW FinJet Web API'
  description: 'Recursos web (A7) para FinJet'
servers:
- url: http://lbaw2191.lbaw.fe.up.pt
  description: 'Servidor de Produção'
externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2191/-/wikis/home
  description: 'Encontre mais informação na wiki'
tags:
  - name: 'M01: Autenticação e perfil individual'
  - name: 'M02: Administração de utilizadores e páginas estáticas'
  - name: 'M03: Visualização, votação, pesquisa e resposta a questões'
  - name: 'M04: Criação e edição de questões. Edição de respostas e comentários'
paths:

#MO1
  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Login'
      description: 'Providencia um formulário de login. Acesso: PUB'
      tags:
      - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra formulário de login'
    post:
      operationId: R102
      summary: 'R102: Ação de Login'
      description: 'Processa a submissão do formulário de login. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302': 
          description: 'Redirecionar depois de processar as credenciais de login'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Autenticação sucedida. Redirecção para a homepage'
                  value: '/'
                302SucessoBanido:
                  description: 'Autenticação sucedida. Utilizador banido.'
                  value: '/perfil/{nomeUtilizador}'
                302Erro:
                  description: 'Autenticação falhou. Redirecção para a página de login'
                  value: '/login'
  
  /recuperacao:
    get:
      operationId: 'R103'
      summary: 'R103: Formulário de recuperação de password'
      description: 'Providencia um formulário para recuperar o acesso à conta. Acesso: PUB'
      tags: 
        - 'M01: Autenticação e perfil individual'
      responses:
        '200': 
          description: 'Ok. Mostra formulário de recuperação'
    post:
      operationId: 'R104'
      summary: 'R104: Submissão de dados de recuperação'
      description: 'Processa a submissão de dados de recuperação'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302': 
          description: 'Redirecção depois da submissão dos dados da conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados submetidos. Se a conta existir será recebido um email com dados de recuperação.'
                  value: '/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Ação de logout'
      description: 'Faz o logout do utilizador autenticado. Acesso: USR, MOD, ADM'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '302':
          description: 'Redirecção depois de processar o logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Logout efetuado com sucesso'
                  value: '/'
        '403':
          description: 'O utilizador não estava autenticado.'

  /login/registo:
    get:
      operationId: R106
      summary: 'R106: Página de registo do utilizador'
      description: 'Providencia a página de registo de utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra página de registo'

    post:
      operationId: R107
      summary: 'R107: Ação de registo'
      description: 'Processa os dados da nova conta fornecidos pelo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nomeUtilizador:
                  type: string
                nome:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                email:
                  type: string
                password:
                  type: string
              required:
                - nomeUtilizador
                - nome
                - dataNascimento
                - email
                - password
      responses:
        '302':
          description: 'Redirecção depois de processar dados fornecidos'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'A conta foi corretamente criada'
                  value: '/perfil/{userName}'
                302Erro:
                  description: 'Os dados fornecidos pelo cliente não são válidos.'
                  value: '/login/registo'

  /perfil/{nomeUtilizador}:
    get:
      operationId: R108
      summary: 'R108: Perfil do utilizador'
      description: 'Mostra a informação do perfil de um utilizador. Acesso: USR, OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '302':
          description: 'O utilizador autenticado não tem permissões suficientes. Por isso é redirecionado à página de login.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Redireção à página de login'
                  value: '/login'
        '404':
          description: 'ID não existe. Mostra página de erro'
    
    patch:
      operationId: R109
      summary: 'R109: Submete dados editados'
      description: 'Processa os dados de perfil que foram editados pelo utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nome:
                  type: string
                email:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                descricao:
                  type: string
                password:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados alterados com sucesso'
                  value: '/perfil/{nomeUtilizador}'
                303Erro:
                  description: 'Email duplicado'
                  value: '/perfil/{nomeUtilizador}/editar'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'

    delete:
          operationId: R110
          summary: 'R110: Eliminar perfil'
          description: 'Elimina o perfil. Acesso: OWN, ADM'
          tags:
            - 'M01: Autenticação e perfil individual'
          parameters:
            - in: path
              name: nomeUtilizador
              schema:
                type: string
              required: true
          responses:
            '200':
              description: 'Redirecionando após eliminar perfil.'
              content:
                application/json:
                  schema:
                    type: object
                    properties:
                      sucesso:
                        type: boolean
                        description: 'Indica se a eliminação foi bem sucedida.'
                      localizacao:
                        type: string
                        description: 'Caminho para o qual o utilizador deve ser redirecionado.'
            '404':
              description: 'Nome utilizador não existe.'
            '403':
              description: 'O utilizador não tem permissões suficientes.'
  /perfil/{nomeUtilizador}/editar:
    get:
      operationId: R111
      summary: 'R111: Edição do perfil do utilizador'
      description: 'Mostra a página de edição do perfil de um utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição do perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'

  /perfil/{nomeUtilizador}/imagem:
    put:
      operationId: R112
      summary: 'R112: Alteração de imagem de perfil do utilizador'
      description: 'Altera a imagem de perfil do utilizador para a imagem enviada. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                imagem_perfil:
                  type: string
                  format: binary
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'

    delete:
      operationId: R113
      summary: 'R113: Eleminação da página imagem de perfil'
      description: 'Elimina a imagem de perfil de um utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'

  /perfil/{nomeUtilizador}/etiquetas:
    get:
      operationId: R114
      summary: 'R114: Mostra a lista completa de etiquetas de um utilizador'
      description: 'Mostra uma página com as etiquetas seguidas por um utilizador. Acesso: USR'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        200:
          description: 'Ok. A página é mostrada.'
        404:
          description: 'O nome de utilizador referido não foi encontrado.'
        302:
          description: 'Redirecção ao verificar que utilizador não está autenticado'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /perfil/{nomeUtilizador}/questoes:
    get:
      operationId: R115
      summary: 'R115: Mostra a lista completa de questões de um utilizador'
      description: 'Mostra uma página com as questões publicadas por um utilizador. Acesso: USR'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        200:
          description: 'Ok. A página é mostrada.'
        404:
          description: 'O nome de utilizador referido não foi encontrado.'
        302:
          description: 'Redirecção ao verificar que utilizador não está autenticado'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Login:
                  description: 'Página de Login'
                  value: '/login'
  
  /perfil/{nomeUtilizador}/respostas:
    get:
      operationId: R116
      summary: 'R116: Mostra a lista completa de questões respondidas por um utilizador'
      description: 'Mostra uma página com as questões respondidas por um utilizador. Acesso: USR'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        200:
          description: 'Ok. A página é mostrada.'
        404:
          description: 'O nome de utilizador referido não foi encontrado.'
        302:
          description: 'Redirecção ao verificar que utilizador não está autenticado'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /perfil/{nomeUtilizador}/apelos:
    get:
      operationId: R117
      summary: 'R117: Lista os apelos do utilizador.'
      description: 'Mostra uma página com os apelos do utilizador. Se este puder fazer mais apelos é apresentado um formulário de apelos. Acesso: BAN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: 'Ok. Mostra a página.'
        '403': 
          description: 'O utilizador não está banido ou autenticado.'
    post:
      operationId: R118
      summary: 'R118: Cria um novo apelo de desbloqueio.'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Apelo feito com sucesso'
                  value: '/perfil/{nomeUtilizador}/apelos'
                303Erro:
                  description: 'Não são permitidos mais apelos'
                  value: '/perfil/{nomeUtilizador}/apelos'

  /seguidos/etiqueta/{idEtiqueta}:
    patch: 
      operationId: R119
      summary: 'R119: Altera o estado da etiqueta em relação a um utilizador'
      description: 'Se o utilizador referido seguir a etiqueta então deixará de a seguir, se não a seguir acontece o contrário. Acesso: OWN (em relação ao perfil)'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: idEtiqueta
          schema:
            type: integer
          required: true
      responses:
        200:
          description: 'A requisição foi processada com sucesso.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  novoEstado:
                    type: string
                    enum: [SEGUE, NAO_SEGUE]
                    description: 'Retorna o novo estado após processamento da requisição'
        403:
          description: 'A requisição foi rejeitada porque o utilizador não está autenticado.'
        404:
          description: 'A etiqueta não foi encontrada.'

#M02 
  /sobrenos:
    get:
      operationId: R201
      summary: 'R201: Sobre nós'
      description: 'Mostra a página Sobre nós. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Sobre nós'
  /contactos:
    get:
      operationId: R202
      summary: 'R202: Contactos'
      description: 'Mostra a página Contactos. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Contactos'

  /faq:
    get:
      operationId: R203
      summary: 'R203: FAQ'
      description: 'Mostra a página FAQ. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página FAQ'

  /admin/moderadores:
    get:
      operationId: R204
      summary: 'R204: Administração de moderadores do sistema'
      description: 'Mostra a página de administração de moderadores do sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de administração dos moderadores do sistema.'
          content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      idUtilizador:
                        type: integer
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
    put:
      operationId: R205
      summary: 'R205: Alteração de permissões de moderador'
      description: 'Adiciona ou remove moderadores ao sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: array
              items:
                type: object
                properties:
                  moderador:
                    type: boolean
                  idUtilizador:
                    type: integer
      responses:
        '302':
          description: 'Redirecionando após alterar permissões de moderador'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Alteração de permissão aceite. Redirecionando para a página de moderador'
                  value: '/admin/moderadores'
                302Erro:
                  description: 'Alteração de permissão rejeitada. Redirecionando para a página de moderador' 
                  value: '/admin/moderadores'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'

  /admin/banimento:
    get:
      operationId: R206
      summary: 'R206: Administração de moderadores do sistema'
      description: 'Mostra a página de apelos de banimento. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de apelos de banimento.'
          content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      idApelo:
                        type: integer
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
    put:
      operationId: R207
      summary: 'R207: Desbloqueia contas'
      description: 'Desbloqueia contas. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  idUtilizador: 
                    type: integer
    
      responses:
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Desbloqueio feito com sucesso. Redirecionando para a página de banimento'
                  value: '/admin/banimento'
                302Erro:
                  description: 'Desbloqueio de conta rejeitado. Redirecionando para a página de banimento' 
                  value: '/admin/banimento'

  /bloqueio/{idUtilizador}:
    put:
      operationId: R208
      summary: '208: Bane um utilizador.'
      description: 'Quando é feita com sucesso, o utilizador é banido. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      parameters:
        - in: path
          name: idUtilizador
          schema:
            type: integer
          required: true 
      responses:
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
        '404':
          description: 'O utilizador fornecido não existe.'
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Bloqueio feito com sucesso. Redirecionando o perfil.'
                  value: '/perfil/{idUtilizador}'
                302Erro:
                  description: 'Bloqueio de conta rejeitado. Redirecionando o perfil.' 
                  value: '/perfil/{idUtilizador}'
    delete:
      operationId: R209
      summary: 'R209: Desbloqueia utilizador'
      description: 'Quando é feito o pedido, o utilizador anteriormente banido é desbloqueado.'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      parameters:
        - in: path
          name: idUtilizador
          schema:
            type: integer
          required: true 
      responses:
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
        '404':
          description: 'O utilizador fornecido não existe.'
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Bloqueio feito com sucesso. Redirecionando o perfil.'
                  value: '/perfil/{idUtilizador}'
                302Erro:
                  description: 'Bloqueio de conta rejeitado. Redirecionando o perfil.' 
                  value: '/perfil/{idUtilizador}'

  /admin/etiquetas:
    get: 
      operationId: R210
      summary: 'R210: Apresenta a pagina de manuseio de etiquetas'
      description: 'Apresenta a página de manuseio de etiquetas.'
      parameters:
        - in: query
          name: query
          description: 'Pesquisa de etiquetas por full-text search do seu nome'
          schema:
            type: string
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200': 
          description: 'Ok. Realiza as operações descritas'
        '403':
          description: 'O utilizador não tem permissoes para manusear etiquetas.'

    post:
      operationId: R211
      summary: 'R211: Regista uma nova etiqueta'
      description: 'Permite criar uma nova etiqueta. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  type: string
              required:
                - nome    
      responses:
        '200': 
          description: 'Ok. Realiza as operações descritas'
          content:
            application/json:
              schema:
                type: object
                properties:
                  sucesso:
                    type: boolean
                    description: 'Descreve se a ação foi bem sucedida. Neste caso é sempre verdade.'
        '400':
          description: 'Os dados de input enviados são inválidos'
          content:
            application/json:
              schema:
                type: object
                properties:
                  sucesso:
                    type: boolean
                    description: 'Descreve se a ação foi bem sucedida. Neste caso é sempre falso.'
                  erro:
                    type: object
                    properties:
                      nome:
                        type: array
                        items:
                          type: string
                          description: 'Lista com strings que informam o utilizador dos erros que ocorreram na validação.'
        '403':
          description: 'O utilizador não tem permissoes para manusear etiquetas.'

  /admin/etiqueta/{id}:
    patch: 
      operationId: R212
      summary: 'R212: Altera a etiqueta referenciada no path.'
      description: 'Permite alterar o texto de uma etiqueta existente. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome:
                  type: string
              required:
                - nome
      responses:
        '200': 
          description: 'Ok. Realiza as operações descritas'
          content:
            application/json:
              schema:
                type: object
                properties:
                  sucesso:
                    type: boolean
                    description: 'Descreve se a ação foi bem sucedida. Neste caso é sempre verdade.'
        '400':
          description: 'Os dados de input enviados são inválidos'
          content:
            application/json:
              schema:
                type: object
                properties:
                  sucesso:
                    type: boolean
                    description: 'Descreve se a ação foi bem sucedida. Neste caso é sempre falso.'
                  erro:
                    type: object
                    properties:
                      nome:
                        type: array
                        items:
                          type: string
                          description: 'Lista com strings que informam o utilizador dos erros que ocorreram na validação.'
        '403':
          description: 'O utilizador não tem permissoes para manusear etiquetas.'
        '404':
          description: 'A etiqueta referida não foi encontrada.'

    delete:
        operationId: R213
        summary: 'R213: Apaga a etiqueta referenciada no path.'
        description: 'Permite apagar uma etiqueta existente. Acesso: ADM'
        tags:
          - 'M02: Administração de utilizadores e páginas estáticas'
        parameters:
          - in: path
            name: id
            schema:
              type: integer
            required: true 
        responses:
          '200': 
            description: 'Ok. Realiza as operações descritas'
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    sucesso:
                      type: boolean
                      description: 'Descreve se a ação foi bem sucedida. Neste caso é sempre verdade.'
          '403':
            description: 'O utilizador não tem permissoes para manusear etiquetas.'
          '404':
            description: 'A etiqueta referida não foi encontrada.'

#M03
  /questao/{idQuestao}:
    get:
      operationId: R301
      summary: 'R301: Visualização de questões.'
      description: 'Mostra a página que apresenta a página de uma questão com as suas respostas e comentários. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Mostra a página da questão'
        '404':
          description: 'Erro. Questão com determinado id não encontrada'
  
  /votar/questao/{idQuestao}:
    get:
      operationId: R302
      summary: 'R302: Número de votos em questões. '
      description: 'Retorna o número de votos numa questão. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Retorna os votos numa questão'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    nVotos:
                      type: integer
                    votada:
                      type: boolean
                      description: 'Representa se determinado utilizador votou na questão. Se o utilizador não estiver autenticado é sempre falso.'
        '404':
          description: 'Erro. Questão com determinado id não encontrada'
    patch:
      operationId: R303
      summary: 'R303: Votação em questões.'
      description: 'Processa um pedido de voto em determinada questão. Se a questão tiver o voto de quem fez o pedido o voto é retirado senão é colocado. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Voto pôde ser processado. Retorna o novo estado do voto na questão'
          content:
            application/json:
              schema:
                type: object
                properties:
                  novoEstado:
                    type: string
                    enum: [VOTADA, NAO_VOTADA]
                    description: 'Representa o novo valor do estado da votação após a requisição'
        '403':
          description: 'Voto foi inválido, o utilizador não tem permissão para votar'
        '404':
          description: 'Erro. Questão com determinado id não encontrada'

  /votar/resposta/{idResposta}:
    get:
      operationId: R304
      summary: 'R304: Número de votos em respostas.'
      description: 'Retorna o número de votos numa resposta. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Retorna os votos numa resposta'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    nVotos:
                      type: integer
                    votada:
                      type: boolean
                      description: 'Representa se determinado utilizador votou na questão. Se o utilizador não estiver autenticado é sempre falso.'
        '404':
          description: 'Erro. Resposta com determinado id não encontrada'
    patch:
      operationId: R305
      summary: 'R305: Votação em resposta.'
      description: 'Processa um pedido de voto em determinada resposta. Se a resposta tiver o voto de quem fez o pedido o voto é retirado senão é colocado. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: object
              properties:
                voto:
                  type: boolean
                idUtilizador:
                  type: integer
      responses:
        '200':
          description: 'Voto pôde ser processado. Retorna o novo estado da votação'
          content:
            application/json:
              schema:
                type: object
                properties:
                  novoEstado:
                    type: string
                    enum: [VOTADA, NAO_VOTADA]
                    description: 'Representa o novo valor do estado da votação após a requisição'
        '403':
          description: 'Voto foi inválido, o utilizador não tem permissão para votar'
        '404':
          description: 'Erro. Resposta com determinado id não encontrada'

  /questao/{idQuestao}/criar-resposta:
    post:
      operationId: R306
      summary: 'R306: Criação de Respostas.'
      description: 'Processa o pedido de criação de uma resposta a uma questão. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir a resposta'
                  type: integer
              required:
                - texto
                - autor
                - idQuestao
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'
        '302':
          description: 'Redirecção ao verificar que utilizador não está autenticado'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /questao/{idQuestao}/criar-comentario:
    post:
      operationId: R307
      summary: 'R307: Criação de Comentários na questão.'
      description: 'Processa o pedido de criação de um comentário a uma questão ou resposta. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir o comentário'
                  type: integer
                idResposta:
                  description: 'ID da resposta onde se pretende inserir o comentário'
              required:
                - texto
                - autor
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'
        '302':
          description: 'Redirecção ao verificar que utilizador não está autenticado'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /questao/{idQuestao}/criar-comentario-resposta/{idResposta}:
    post:
      operationId: R308
      summary: 'R308: Criação de Comentários numa resposta.'
      description: 'Processa o pedido de criação de um comentário a uma questão ou resposta. Acesso: USR'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true 
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir o comentário'
                  type: integer
                idResposta:
                  description: 'ID da resposta onde se pretende inserir o comentário'
              required:
                - texto
                - autor
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'
        '302':
          description: 'Redirecção ao verificar que utilizador não está autenticado'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /resposta-correta/{idQuestao}:
    get:
      operationId: R309
      summary: 'R309: Acesso à resposta correta.'
      description: 'Retorna o id da resposta correta a uma determinada questão. Acesso: PUB'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      responses:
        '200': 
          description: 'Ok. Questão encontrada'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    idResposta:
                      type: integer
        '404':
          description: 'Questão não encontrada'
    post:
      operationId: R310
      summary: 'R310: Marca a resposta correta.'
      description: 'Marca como correta a resposta de id enviado. Acesso: OWN'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idResposta:
                  description: 'Resposta que deve ser marcada como correta'
                  type: integer
              required:
                - idResposta
      responses:
        '200': 
          description: 'Resposta marcada com sucesso'
        '403':
          description: 'Voto não permitido. Utilizador não é OWN.'
        '404':
          description: 'Resposta ou Questão não encontradas.'
    delete:
      operationId: R311
      summary: 'R310: Desmarca resposta correta'
      description: 'Remove a marcação da resposta correta da questão fornecida. Acesso: OWN'
      tags:
        - 'M03: Visualização, votação, pesquisa e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Pedido efetuado com sucesso.'
        '403':
          description: 'O utilizador não é OWN da questão.'
        '404':
          description: 'A questão não foi encontrada.'

  /questoes:
      get:
        operationId: R312
        summary: 'R312: Lista de Questões'
        description: 'Mostra a lista de questões associadas a uma pesquisa. Acesso: PUB'
        tags:
          - 'M03: Visualização, votação, pesquisa e resposta a questões'
        parameters:
        - in: query
          name: query
          description: 'Pesquisa de questões por full-text search do seu titulo e corpo'
          schema:
            type: string
          required: false
        - in: query
          name: etiqueta
          description: 'Pesquisa por etiquetas'
          schema:
            type: string
          required: false
        - in: query
          name: ordenar
          description: 'Ordenação de perguntas'
          schema:
            type: string
            enum:
              - mais_votos
              - mais_recente
              - mais_reputacao
          required: false
        responses:
          '200':
            description: 'Ok. Mostra a lista de questões'
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      idQuestao:
                        type: integer

#M04
  /criarquestao:
    get:
      operationId: R401
      summary: 'R401: Criação de questões'
      description: 'Mostra a página de criação de questões. Acesso: USR'
      tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      responses:
        '200':
          description: 'Ok. Mostra a página de criação de questões.'
    post:
      operationId: R402
      summary: 'R402: Cria uma questão'
      description: 'Cria uma questão. Acesso: USR'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                titulo:
                  type: string
                texto:
                  type: string
                etiqueta:
                  type: string
              required:
                - titulo
                - texto
                - etiqueta
    
      responses:
        '302':
          description: 'Redirecionando após criar questão ou se não estiver autenticado.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Criação de questão feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{idQuestao}'
                302Erro:
                  description: 'Falha na criação da questão. Redirecionando para o formulário. Apresenta os erros ao utilizador' 
                  value: '/criarquestao'
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /questao/{idQuestao}/editar:
    get:
      operationId: R403
      summary: 'R403: Editar questões'
      description: 'Mostra a página de edição de questões. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição de questões.'
    put:
      operationId: R404
      summary: 'R404: Edita uma questão'
      description: 'Edita uma questão. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      
      parameters:
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                titulo:
                  type: string
                texto:
                  type: string
                etiqueta:
                  type: string
              required:
                - titulo
                - texto
                - etiqueta
    
      responses:
        '302':
          description: 'Redirecionando após editar questão. Ou para a página de login se o utilizador não estiver autenticado,'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Edição de questão feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{idQuestao}'
                302Erro:
                  description: 'Falha na edição da questão. Redirecionando o formulário. Apresenta os erros de input.' 
                  value: '/questao/{idQuestao}/editar'
                302Login:
                  description: 'Página de Login'
                  value: '/login'

  /questao/{idQuestao}/editar-resposta/{idResposta}: 
    get:
      operationId: R405
      summary: 'R405: Editar respostas'
      description: 'Mostra a página de edição de respostas. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: idResposta
        description: 'id da resposta'
        schema:
          type: integer
        required: true
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição de respostas.'
        '404':
          description: 'ID não existe. Mostra página de erro.'
    put:
      operationId: R406
      summary: 'R406: Edita uma reposta'
      description: 'Edita uma resposta. Acesso: OWN'
      tags:
      - 'M04: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: idResposta
        description: 'id da resposta'
        schema:
          type: integer
        required: true
      - in: path
        name: idQuestao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                texto:
                  type: string
              required:
                - texto
    
      responses:
        '302':
          description: 'Redirecionando após editar resposta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Edição de resposta feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{idQuestao}'
                302Erro:
                  description: 'Falha na edição da resposta. Redirecionando para o formulário com erros apresentados' 
                  value: '/questao/{idQuestao}/editar-resposta/{idResposta}'
                302Login:
                  description: 'Página de Login se o utilizador não estiver autenticado.'
                  value: '/login'
        '403':
          description: 'O utilizador não tem permissões suficientes.'
        '404':
          description: 'ID não existe. Mostra página de erro.'

  /questao/{idQuestao}/editar-comentario/{idComentario}: 
      get:
        operationId: R407
        summary: 'R407: Editar comentários'
        description: 'Mostra a página de edição de comentários. Acesso: OWN'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idComentario
          description: 'id do comentário'
          schema:
            type: integer
          required: true
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        responses:
          '200':
            description: 'Ok. Mostra a página de edição de comentários.'
          '404':
            description: 'ID não existe. Mostra página de erro.'
      put:
        operationId: R408
        summary: 'R408: Edita um comentário'
        description: 'Edita um comentário. Acesso: OWN'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idComentario
          description: 'id do comentario'
          schema:
            type: integer
          required: true
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded: 
              schema:
                type: object
                properties:
                  texto:
                    type: string
                required:
                  - texto
      
        responses:
          '302':
            description: 'Redirecionando após editar comentário'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Sucesso:
                    description: 'Edição do comentário feito com sucesso. Redirecionando para a página da questão'
                    value: '/questao/{idQuestao}'
                  302Erro:
                    description: 'Falha na edição do comentário. Redirecionando para o formulário com erros apresentados.' 
                    value: '/questao/{idQuestao}/editar-comentario/{idComentario}'
                  302Login:
                    description: 'Página de Login se o utilizador não estiver autenticado.'
                    value: '/login'
          '403':
            description: 'O utilizador não tem permissões suficientes.'
          '404':
            description: 'ID não existe. Mostra página de erro.'

  /questao/{idQuestao}/eliminar: 
      delete:
        operationId: R409
        summary: 'R409: Eliminar questão'
        description: 'Elimina uma questão. Acesso: OWN, MOD, ADM'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        responses:
          '302':
            description: 'Redirecionando após eliminar questão.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Sucesso:
                    description: 'Questão eliminada com sucesso.'
                    value: '/'
                  302Erro:
                    description: 'Falha na eliminação da questão. Redirecionando para a página da questão' 
                    value: '/questao/{idQuestao}'
                  302Login:
                    description: 'Página de Login se o utilizador não estiver autenticado.'
                    value: '/login'
          '404':
            description: 'ID não existe. Mostra página de erro.'
          '403':
            description: 'O utilizador não tem permissões suficientes.'

  /questao/{idQuestao}/eliminar-resposta/{idResposta}: 
      delete:
        operationId: R410
        summary: 'R410: Eliminar resposta'
        description: 'Elimina uma resposta. Acesso: OWN, MOD, ADM'
        tags:
        - 'M04: Criação e edição de questões. Edição de respostas e comentários'
        parameters:
        - in: path
          name: idResposta
          description: 'id da resposta' 
          schema:
            type: integer
          required: true
        - in: path
          name: idQuestao
          description: 'id da questao'
          schema:
            type: integer
          required: true
        responses:
          '302':
            description: 'Redirecionando após eliminar resposta.'
            headers:
              Location:
                schema:
                  type: string
                examples:
                  302Sucesso:
                    description: 'Resposta eliminada com sucesso. Redirecionando para a página da questão'
                    value: '/questao/{idQuestao}'
                  302Erro:
                    description: 'Falha na eliminação da resposta. Redirecionando para a página da questão' 
                    value: '/questao/{idQuestao}'
                  302Login:
                    description: 'Página de Login se o utilizador não estiver autenticado.'
                    value: '/login'
          '404':
            description: 'ID não existe. Mostra página de erro.'
          '403':
            description: 'O utilizador não tem permissões suficientes.'
  /questao/{idQuestao}/eliminar-comentario/{idComentario}: 
        delete:
          operationId: R411
          summary: 'R411: Eliminar comentário'
          description: 'Elimina um comentário. Acesso: OWN, MOD, ADM'
          tags:
          - 'M04: Criação e edição de questões. Edição de respostas e comentários'
          parameters:
          - in: path
            name: idComentario
            description: 'id do comentario' 
            schema:
              type: integer
            required: true
          - in: path
            name: idQuestao
            description: 'id da questao'
            schema:
              type: integer
            required: true
          responses:
            '302':
              description: 'Redirecionando após eliminar comentário.'
              headers:
                Location:
                  schema:
                    type: string
                  examples:
                    302Sucesso:
                      description: 'Comentário eliminado com sucesso. Redirecionando para a página da questão'
                      value: '/questao/{idQuestao}'
                    302Erro:
                      description: 'Falha na eliminação do comentário. Redirecionando para a página da questão' 
                      value: '/questao/{idQuestao}'
                    302Login:
                      description: 'Página de Login se o utilizador não estiver autenticado.'
                      value: '/login'
            '404':
              description: 'ID não existe. Mostra página de erro.'
            '403':
              description: 'O utilizador não tem permissões suficientes.'
        
#M05
  /:
    get:
      operationId: R501
      summary: 'R501: Homepage'
      description: 'Redireciona o utilizador para a homepage adequada. Acesso: PUB'
      tags:
        - 'M05: Páginas da homepage'
      responses:
        '302':
          description: 'Redirecionando após aceder à homepage.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Autenticado:
                  description: 'O utilizador está autenticado e é redirecionado para a página que apresenta questões dirigidas ao mesmo.'
                  value: '/para-si'
                302Visitante:
                  description: 'O utilizador não está autenticado e é redirecionado para a página que mostra as questões que são tendência.' 
                  value: '/tendencias'
  /para-si:
    get:
      operationId: R502
      summary: 'R502: Questões dirigidas ao utilizador'
      description: 'Apresenta as questões mais relevantes para o utilizador com base nas etiquetas que segue. Acesso: USR'
      tags:
        - 'M05: Páginas da homepage'
      responses:
        '200':
          description: 'Ok. Mostra a página de questões dirigidas ao utilizador'
        '403':
          description: 'O utilizador não está autenticado'

  /tendencias:
    get:
      operationId: R503
      summary: 'R503: Questões que são tendencia'
      description: 'Apresenta as questões mais recentemente publicadas. Acesso: PUB'
      tags:
        - 'M05: Páginas da homepage'
      responses:
        '200':
          description: 'Ok. Mostra a página de questões que são tendência.'

  /etiquetas:
    get:
      operationId: R504
      summary: 'R504: Aprenseta as etiquetas ao utilizador.'
      description: 'Apresenta as etiquetas sobre as quais o utilizador poderá fazer pesquisas. Se estiver autenticado poderá também segui-las. Acesso: PUB'
      tags:
        - 'M05: Páginas da homepage'
      responses:
        '200':
          description: 'Ok. Mostra a página de etiquetas.'
