openapi: 3.0.0
info:
  version: '0.1'
  title: 'LBAW FinJet Web API'
  description: 'Recursos web (A7) para FinJet'
servers:
- url: http://lbaw2191.lbaw.fe.up.pt
  description: 'Servidor de Produção'
externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2191/-/wikis/home
  description: 'Encontre mais informação na wiki'
tags:
  - name: 'M01: Autenticação e perfil individual'
  - name: 'M02: Administração de utilizadores e páginas estáticas'
  - name: 'M03: Pesquisa de questões'
  - name: 'M04: Visualização, votação e resposta a questões'
  - name: 'M05: Criação e edição de questões. Edição de respostas e comentários'
paths:
#MO1
  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Login'
      description: 'Providencia um formulário de login. Acesso: PUB'
      tags:
      - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra formulário de login'
    post:
      operationId: R102
      summary: 'R102: Ação de Login'
      description: 'Processa a submissão do formulário de login. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302': 
          description: 'Redirecionar depois de processar as credenciais de login'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Autenticação sucedida. Redirecção para a homepage'
                  value: '/'
                302Erro:
                  description: 'Autenticação falhou. Redirecção para a página de login'
                  value: '/login'
  
  /login/recovery:
    get:
      operationId: 'R103'
      summary: 'R103: Formulário de recuperação de password'
      description: 'Providencia um formulário para recuperar o acesso à conta. Acesso: PUB'
      tags: 
        - 'M01: Autenticação e perfil individual'
      responses:
        '200': 
          description: 'Ok. Mostra formulário de recuperação'
    post:
      operationId: 'R104'
      summary: 'R104: Submissão de dados de recuperação'
      description: 'Processa a submissão de dados de recuperação'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302': 
          description: 'Redirecção depois da submissão dos dados da conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados submetidos. Se a conta existir será recebido um email com dados de recuperação.'
                  value: '/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Ação de logout'
      description: 'Faz o logout do utilizador autenticado. Acesso: USR, MOD, ADM'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '302':
          description: 'Redirecção depois de processar o logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Logout efetuado com sucesso'
                  value: '/'

  /login/registo:
    get:
      operationId: R106
      summary: 'R106: Página de registo do utilizador'
      description: 'Providencia a página de registo de utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra página de registo'

    post:
      operationId: R107
      summary: 'R107: Ação de registo'
      description: 'Processa os dados da nova conta fornecidos pelo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nomeUtilizador:
                  type: string
                nome:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                email:
                  type: string
                password:
                  type: string
              required:
                - nomeUtilizador
                - nome
                - dataNascimento
                - email
                - password
      responses:
        '302':
          description: 'Redirecção depois de processar dados fornecidos'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'A conta foi corretamente criada'
                  value: '/perfil/{userName}'
                302Erro:
                  description: 'Os dados fornecidos pelo cliente não são válidos.'
                  value: '/login/registo'
  
  /perfil/{nomeUtilizador}:
    get:
      operationId: R108
      summary: 'R108: Perfil do utilizador'
      description: 'Mostra a informação do perfil de um utilizador. Acesso: USR'
      tags:
        - 'M01: Autenticação e perfil individual'
      
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
  
  /perfil/{nomeUtilizador}/editar:
    get:
      operationId: R109
      summary: 'R109: Edição do perfil do utilizador'
      description: 'Mostra a página de edição do perfil de um utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição do perfil do utilizador'
    
    post:
      operationId: R110
      summary: 'R110: Submete dados editados'
      description: 'Processa os dados de perfil que foram editados pelo utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nome:
                  type: string
                email:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                password:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados alterados com sucesso'
                  value: '/perfil/{nomeUtilizador}'


#M02 
  /sobrenos:
    get:
      operationId: R201
      summary: 'R201: Sobre nós'
      description: 'Mostra a página Sobre nós. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Sobre nós'
  /contactos:
    get:
      operationId: R202
      summary: 'R202: Contactos'
      description: 'Mostra a página Contactos. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Contactos'
  /faq:
    get:
      operationId: R203
      summary: 'R203: FAQ'
      description: 'Mostra a página FAQ. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página FAQ'
  /servicos:
    get:
      operationId: R204
      summary: 'R204: Serviços'
      description: 'Mostra a página Serviços. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Serviços.'


  /admin:
    get:
      operationId: R205
      summary: 'R205: Página de Admin'
      description: 'Mostra a página de administrador. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de administrador'
  /admin/moderadores:
    get:
      operationId: R206
      summary: 'R206: Administração de moderadores do sistema'
      description: 'Mostra a página de administração de moderadores do sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de administração dos moderadores do sistema.'
    post:
      operationId: R207
      summary: 'R207: Alteração de permissões de moderador'
      description: 'Adiciona ou remove moderadores ao sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: #checkbox?
            schema:
              type: object
              properties:
                moderador:
                  type: boolean
                user_id: 
                  type: integer
              required:
                - moderador
                - user_id
    
      responses:
        '302':
          description: 'Redirecionando após alterar permissões de moderador'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Alteração de permissão aceite. Redirecionando para a página de moderador'
                  value: '/admin/moderadores'
                302Erro:
                  description: 'Alteração de permissão rejeitada. Redirecionando para a página de moderador' 
                  value: '/admin/moderadores'
  /admin/banimento:
    get:
      operationId: R208
      summary: 'R208: Administração de moderadores do sistema'
      description: 'Mostra a página de apelos de banimento. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de apelos de banimento.'
    post:
      operationId: R209
      summary: 'R209: Bloqueia e/ou desbloqueia contas'
      description: 'Bloqueia e/ou desbloqueia contas. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: #checkbox?
            schema:
              type: object
              properties:
                bloqueado:
                  type: boolean
                user_id: 
                  type: integer
              required:
                - bloqueado
                - user_id
    
      responses:
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Bloqueio ou desbloqueio feito com sucesso. Redirecionando para a página de banimento'
                  value: '/admin/banimento'
                302Erro:
                  description: 'Bloqueio ou desbloqueio de conta rejeitado. Redirecionando para a página de banimento' 
                  value: '/admin/banimento'
