@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:ital,wght@0,500;0,600;0,800;1,300&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, label, input, button {
	font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

header {
	padding: 15px;
    background-color: #2F2D2E;
}

footer {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

hr {
	margin: 10px 0;
}

lable {
	user-select: none;
}

.nao-selecionavel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-primary, .btn-primary:visited, .btn-primary:active, .btn-primary:enabled {
	border: 1px solid #B88F27 !important;
	background-color: #DAA520 !important;
    border-color: #D2691E !important;
	color: black;
}

.btn-primary:link, .btn-primary:hover, 
.btn-primary:focus {
	border: 1px solid #DAA520 !important;
	background-color: #b88f27 !important;
	border-color: #D2691E !important;
	color: black;
}

.btn-primary:focus {
	box-shadow: 0 0 0 0.25rem rgb(218 165 32 / 50%) !important;
}

/* 
	Estilos para altura maxima
*/
.altura-max header, .altura-max main, .altura-max footer {
	flex-shrink: 0;
}

.altura-max main {
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

.altura-max {
	min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/*
	Estilos do template geral
*/

#header-vr {
	color: #4A7C59;
}

.geral-footer-paragrafo {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.link-header, .link-header:hover, .link-header:active, .link-header:link {
    color: #DAA520;
}

#finjet-nome {
	color: #DAA520;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Meow Script', cursive;
}

#geral-header-navbar {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

/*
	Estilos do template minimo
*/

#minimo-logo {
	text-align: center;
}

.minimo body {
	background-color: #EAEAEA;
}

#minimo-conteudo {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
	Estilos gerais do formulario
*/

.form-autenticacao {
	display: inline-block;
	margin-top: 20px;
	width: 35vw;
	min-width: 300px;
}

.campo-form-autenticacao {
	margin: 20px;
}

.form-control:focus {
	border-color: #D2691E;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 69, 19, 0.6);
}

.form-check-input:checked {
    background-color: #DAA520;
    border-color: #D2691E;
}

.autenticacao-secundario {
	color: #F7FEEF;
}

/*
	Estilos formulario login
*/

#botoes-login {
	text-align: end;
}

.erro-input {
	font-weight: bold;
	color: #ff0033;
	margin-left: 20px;
}

/*
	Estilos formulario registo
*/

#registo-img-div {
	flex-grow: 3;
}

#registo-img {
	max-height: 100%;
}

/*
	Estilos erro na procura de utilizadores
*/
#perfil-utilizador-erro {
	text-align: center;
	margin-top: 100px;
}

#perfil-utilizador-erro img {
	width: 15vw;
	height: 15vw;
	margin: 10px;
}

#perfil-utilizador-erro h1 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 20px;
}

/*
	Estilos perfil de utilizadores
*/

#corpo-perfil {
	display: flex;
	flex-flow: column nowrap;
	gap: 10px;
	padding: 20px;
}

#perfil-nome-utilizador {
	font-size: 1.5rem;
	font-weight: 600;
}

#perfil-caracterizacao {
	display: inline-flex;
	flex-flow: row nowrap;
	border: 1px solid black;
}

#perfil-avatar-container {
	display: flex;
	align-items: center;
}

#perfil-avatar {
	width: 180px;
	margin: 15px;
}

#perfil-caracterização-texto {
	width: 100%;
	word-break: break-all;
	padding: 20px;
}

#perfil-listagens {
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	gap: 60px;
}

.lista-perfil {
	border: 5px solid red;
	padding: 20px;
	min-width: 300px;
	max-width: 30vw;
}

.lista-perfil h1 {
	font-size: 1.25rem;
	font-weight: 800;
}

.lista-perfil li {
  	overflow: hidden;
  	text-overflow: ellipsis;
}

/*
	Estilos 403 Forbidden
*/
#sem-permissoes-corpo {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 20vh;
}

#sem-permissoes-corpo h1 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 20px;
}

#sem-permissoes-corpo img {
	width: 10vw;
	margin-bottom: 10px;
}

/*
	Erro 404: Not Found
*/

#nao-encontrado-corpo {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 20vh;
}

#nao-encontrado-corpo h1 {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 20px;
}

#nao-encontrado-corpo img {
	width: 10vw;
	margin-bottom: 10px;
}

/*
	Estilos de edicao de perfil
*/
#edita-perfil-imagem {
	width: 180px;
	margin-right: 20px;
	margin-top: 30px;
}

#edita-perfil-texto {
	width: 55%;
	margin: 0 auto;
	padding: 50px;
}

#edita-perfil-texto .form-group {
	margin: 20px;
}

#edita-perfil-texto textarea {
	resize: none;
}

#desc-char-cnt {
	display: block;
	visibility: hidden;
	text-align: right;
	color: grey;
	background-color: smoke;
}

/*
	Estilos recuperacao de conta
*/

.form-recuperacao {
	padding-top: 10vh;
	width: 40%;
	margin: 0 auto;
}

/*
Criaçao e ediçao de questao
*/
.questao-titulo
{
	width: 70vw;
	margin:10px;
	resize:none;
	position: relative;
	left: 10vw;
}

.questao-texto
{	text-align: left;
	width: 70vw;
	height: 20vw;
	margin-top: 10px;
	resize:none;
}

.questao-button
{
	border-style: outset;
	border-color: #2F2D2E;
	border-width: 1px;
	position: relative;
	left: 75vw;
}

.questao-button:hover
{
	background-color: #2F2D2E;
	color:#EAEAEA;
}

/*
	Ecra de pesquisa
*/
#conteudo-lista-questoes {
	padding-top: 10px;
	margin: 0 auto;
	width: 60%;
}

.card-questao {
	cursor: pointer;
	background-color: #DCDCDC;
}

.card-questao-dados * {
	font-weight: 300;
	font-style: italic;
	color: #19323C;
	font-size: 0.90rem;
}

.card-questao-dados a, .card-questao-dados a:link, 
.card-questao-dados a:visited, .card-questao-dados a:hover, 
.card-questao-dados a:active {
	color: #19323C;
} 

.card-questao-dados a:hover {
	text-decoration: underline;
}

.card-questao-body h1 {
	font-size: 1.5rem;
	font-weight: 600;
}

.card-questao-body hr {
	margin: 5px 0;
}

.card-questao-body p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}

.etiqueta-pill {
	cursor: pointer;
	color: #C0C0C0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	background-color: #011936;
	max-width: 10vw;
	min-width: 100px;
	border-radius: 20px;
	padding: 0 10px;
}

/*
	Estilos do filtro de pesquisa
*/
.pesquisa-header-filtro {
	margin: 0 auto;
	padding-bottom: 10px;
}

.cm-ativa-checkbox input {
	pointer-events: none;
	opacity: 1 !important;
}

.pesquisa-avancada-item {
	margin: 10px 20px;
}

#filtros-avancados {
	margin-top: 20px;
}

#mostrador-etiquetas {
	display: flex;
	flex-flow: row wrap;
	gap: 10px;
}

#pesquisa-query {
	margin: 0 auto;
	width: 60%;
}

#pesquisa-contentor-etiquetas {
	flex: 4;
}

#pesquisa-ordem-atributo {
	flex: 2;
}

#pesquisa-ordem {
	flex: 2;
}

/*
	Admin - Etiquetas
*/
#admin-etiqueta-conexao-erro {
	bottom: 10px;
	z-index: 2000;
}

#admin-etiquetas {
	margin: 20px 40px;
}

.admin-etiqueta-card {
	margin: 10px;
	display: inline-flex;
	flex-flow: column nowrap;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 10px;
	width: 15vw;
	min-width: 225px;
	gap: 15px;
}

.admin-etiqueta-card p {
	word-wrap: break-word;
	flex: 1;
}

.admin-etiqueta-loading-acao {
	display: none;
}

.admin-etiqueta-card div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 10px;
}

#admin-etiqueta-elimina {
	width: 100%;
}

#admin-etiqueta-edita {
	width: 100%;
}

#admin-etiqueta-text-feedback {
	display: none;
}

#admin-etiqueta-card-container {
	gap: 2vw;
}

/*
	Estilos homepage
*/
