@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:wght@500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, label, input, button {
	font-weight: 500;
    font-family: 'Nunito', sans-serif;;
}

a {
    text-decoration: none;
}

header {
	padding: 15px;
    background-color: #2F2D2E;
}

footer {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* 
	Estilos para altura maxima
*/
.altura-max header, .altura-max main, .altura-max footer {
	flex-shrink: 0;
}

.altura-max main {
	flex-grow: 1;
}

.altura-max {
	min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#geral-header {
	margin-bottom: 15px;
}

.geral-footer-paragrafo {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.link-header, .link-header:hover, .link-header:active, .link-header:link {
    color: #DAA520;
}

#finjet-nome {
	color: #DAA520;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Meow Script', cursive;
}

#geral-header-navbar {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#minimo-logo {
	text-align: center;
}

.minimo body {
	background-color: #EAEAEA;
}

#minimo-conteudo {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
	Estilos gerais do formulario
*/

.form-autenticacao {
	display: inline-block;
	margin-top: 20px;
	width: 35vw;
	min-width: 300px;
}

.campo-form-autenticacao {
	margin: 20px;
}

.form-control:focus {
	border-color: #D2691E;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 69, 19, 0.6);
}

.form-check-input:checked {
    background-color: #DAA520;
    border-color: #D2691E;
}

.autenticacao-secundario {
	color: #F7FEEF;
}

.autenticacao-primario {
	background-color: #DAA520;
	color: black;
}

.autenticacao-primario:hover {
	background-color: #b88f27;
	color: #241C1C;
}

/*
	Estilos formulario login
*/

#botoes-login {
	text-align: end;
}

.erro-input {
	font-weight: bold;
	color: #ff0033;
	margin-left: 20px;
}

/*
	Estilos formulario registo
*/

#registo-img-div {
	flex-grow: 3;
}

#registo-img {
	max-height: 100%;
}

