@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, label, input, button {
    font-family: 'Nunito', sans-serif;;
}

a {
    text-decoration: none;
}

header {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #2F2D2E;
}

footer {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
}

.geral-footer-paragrafo {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

#geral-header-nome a, a:visited, a:active, a:hover, a:link {
    color: #DAA520;
}

#geral-header-nome {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Meow Script', cursive;
}

#geral-header-navbar {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#minimo-logo {
	text-align: center;
}

.minimo body {
	background-color: #EAEAEA;
}

#minimo-conteudo {
	display: flex;
	justify-content: center;
	align-items: center;
}

#login-form {
	display: inline-block;
	width: 40vw;
}

#botoes-login {
	text-align: end;
}

.login-field {
	margin: 20px;
}

.questao-titulo
{
	width: 70vw;
	margin:10px;
	resize:none;
}

.questao-texto
{	text-align: left;
	width: 70vw;
	height: 20vw;
	margin: 10px;
	resize:none;
}

.questao-button
{
	border-style: outset;
	border-color: #2F2D2E;
	border-width: 1px;
}

.questao-button:hover
{
	background-color: #2F2D2E;
	color:#EAEAEA;
}
