openapi: 3.0.0
info:
  version: '0.1'
  title: 'LBAW FinJet Web API'
  description: 'Recursos web (A7) para FinJet'
servers:
- url: http://lbaw2191.lbaw.fe.up.pt
  description: 'Servidor de Produção'
externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2191/-/wikis/home
  description: 'Encontre mais informação na wiki'
tags:
  - name: 'M01: Autenticação e perfil individual'
  - name: 'M02: Administração de utilizadores e páginas estáticas'
  - name: 'M03: Pesquisa de questões'
  - name: 'M04: Visualização, votação e resposta a questões'
  - name: 'M05: Criação e edição de questões. Edição de respostas e comentários'
paths:

#MO1
  /login:
    get:
      operationId: R101
      summary: 'R101: Formulário de Login'
      description: 'Providencia um formulário de login. Acesso: PUB'
      tags:
      - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra formulário de login'
    post:
      operationId: R102
      summary: 'R102: Ação de Login'
      description: 'Processa a submissão do formulário de login. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email: 
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        '302': 
          description: 'Redirecionar depois de processar as credenciais de login'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Autenticação sucedida. Redirecção para a homepage'
                  value: '/'
                302SucessoBanido:
                  description: 'Autenticação sucedida. Utilizador banido.'
                  value: '/perfil/{nomeUtilizador}'
                302Erro:
                  description: 'Autenticação falhou. Redirecção para a página de login'
                  value: '/login'
  
  /login/recuperacao:
    get:
      operationId: 'R103'
      summary: 'R103: Formulário de recuperação de password'
      description: 'Providencia um formulário para recuperar o acesso à conta. Acesso: PUB'
      tags: 
        - 'M01: Autenticação e perfil individual'
      responses:
        '200': 
          description: 'Ok. Mostra formulário de recuperação'
    post:
      operationId: 'R104'
      summary: 'R104: Submissão de dados de recuperação'
      description: 'Processa a submissão de dados de recuperação'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
              required:
                - email
      responses:
        '302': 
          description: 'Redirecção depois da submissão dos dados da conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados submetidos. Se a conta existir será recebido um email com dados de recuperação.'
                  value: '/login'

  /logout:
    post:
      operationId: R105
      summary: 'R105: Ação de logout'
      description: 'Faz o logout do utilizador autenticado. Acesso: USR, MOD, ADM'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '302':
          description: 'Redirecção depois de processar o logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Logout efetuado com sucesso'
                  value: '/'
        '403':
          description: 'O utilizador não estava autenticado.'

  /login/registo:
    get:
      operationId: R106
      summary: 'R106: Página de registo do utilizador'
      description: 'Providencia a página de registo de utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      responses:
        '200':
          description: 'Ok. Mostra página de registo'

    post:
      operationId: R107
      summary: 'R107: Ação de registo'
      description: 'Processa os dados da nova conta fornecidos pelo utilizador. Acesso: PUB'
      tags:
        - 'M01: Autenticação e perfil individual'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nomeUtilizador:
                  type: string
                nome:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                email:
                  type: string
                password:
                  type: string
              required:
                - nomeUtilizador
                - nome
                - dataNascimento
                - email
                - password
      responses:
        '302':
          description: 'Redirecção depois de processar dados fornecidos'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'A conta foi corretamente criada'
                  value: '/perfil/{userName}'
                302Erro:
                  description: 'Os dados fornecidos pelo cliente não são válidos.'
                  value: '/login/registo'

  /perfil/{nomeUtilizador}:
    get:
      operationId: R108
      summary: 'R108: Perfil do utilizador'
      description: 'Mostra a informação do perfil de um utilizador. Acesso: USR, OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra o perfil do utilizador'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
        '404':
          description: 'ID não existe. Mostra página de erro'
  
  /perfil/{nomeUtilizador}/editar:
    get:
      operationId: R109
      summary: 'R109: Edição do perfil do utilizador'
      description: 'Mostra a página de edição do perfil de um utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição do perfil do utilizador'
        '404':
          description: 'ID do utilizador não existe. Mostra erro.'
        '403':
          description: 'ID encontrado, mas cliente não tem permissões de alteração'
    
    put:
      operationId: R110
      summary: 'R110: Submete dados editados'
      description: 'Processa os dados de perfil que foram editados pelo utilizador. Acesso: OWN'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                nome:
                  type: string
                email:
                  type: string
                dataNascimento:
                  type: string
                  format: date
                  example: '02-09-2001'
                password:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Dados alterados com sucesso'
                  value: '/perfil/{nomeUtilizador}'
                303Erro:
                  description: 'Email duplicado'
                  value: '/perfil/{nomeUtilizador}/editar'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'

  /perfil/{nomeUtilizador}/apelos:
    get:
      operationId: R111
      summary: 'R111: Lista os apelos do utilizador. Acesso: BAN'
      description: 'Mostra uma página com os apelos do utilizador. Se este puder fazer mais apelos é apresentado um formulário de apelos.'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      responses:
        '200': 
          description: 'Ok. Mostra a página.'
        '403': 
          description: 'O utilizador não está banido ou autenticado.'
    post:
      operationId: R112
      summary: 'R112: Cria um novo apelo de desbloqueio.'
      tags:
        - 'M01: Autenticação e perfil individual'
      parameters:
        - in: path
          name: nomeUtilizador
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
      responses:
        '302':
          description: 'Redirecção ao processar dados enviados'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Apelo feito com sucesso'
                  value: '/perfil/{nomeUtilizador}/apelos'
                303Erro:
                  description: 'Não são permitidos mais apelos'
                  value: '/perfil/{nomeUtilizador}/apelos'

#M02 
  /sobrenos:
    get:
      operationId: R201
      summary: 'R201: Sobre nós'
      description: 'Mostra a página Sobre nós. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Sobre nós'
  /contactos:
    get:
      operationId: R202
      summary: 'R202: Contactos'
      description: 'Mostra a página Contactos. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Contactos'
  /faq:
    get:
      operationId: R203
      summary: 'R203: FAQ'
      description: 'Mostra a página FAQ. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página FAQ'
  /servicos:
    get:
      operationId: R204
      summary: 'R204: Serviços'
      description: 'Mostra a página Serviços. Acesso: PUB'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página Serviços.'

  /admin/moderadores:
    get:
      operationId: R206
      summary: 'R206: Administração de moderadores do sistema'
      description: 'Mostra a página de administração de moderadores do sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de administração dos moderadores do sistema.'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
    put:
      operationId: R207
      summary: 'R207: Alteração de permissões de moderador'
      description: 'Adiciona ou remove moderadores ao sistema. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: array
              items:
                type: object
                properties:
                  moderador:
                    type: boolean
                  user_id:
                    type: integer
      responses:
        '302':
          description: 'Redirecionando após alterar permissões de moderador'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Alteração de permissão aceite. Redirecionando para a página de moderador'
                  value: '/admin/moderadores'
                302Erro:
                  description: 'Alteração de permissão rejeitada. Redirecionando para a página de moderador' 
                  value: '/admin/moderadores'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'

  /admin/banimento:
    get:
      operationId: R208
      summary: 'R208: Administração de moderadores do sistema'
      description: 'Mostra a página de apelos de banimento. Acesso: ADM'
      tags:
      - 'M02: Administração de utilizadores e páginas estáticas'
      responses:
        '200':
          description: 'Ok. Mostra a página de apelos de banimento.'
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
    put:
      operationId: R209
      summary: 'R209: Desbloqueia contas'
      description: 'Desbloqueia contas. Acesso: ADM'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: array
              items:
                type: object
                properties:
                  user_id: 
                    type: integer
    
      responses:
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Desbloqueio feito com sucesso. Redirecionando para a página de banimento'
                  value: '/admin/banimento'
                302Erro:
                  description: 'Desbloqueio de conta rejeitado. Redirecionando para a página de banimento' 
                  value: '/admin/banimento'

  /banir:
    post: 
      operationId: R210
      summary: '210: Bane um utilizador. Acesso: ADM'
      description: 'Quando é feita com sucesso, o utilizador é banido'
      tags:
        - 'M02: Administração de utilizadores e páginas estáticas'
      requestBody:
        required: true
        content:
          application/json: #checkbox?
            schema:
              type: array
              items:
                type: object
                properties:
                  user_id: 
                    type: integer
      responses:
        '403':
          description: 'O utilizador autenticado não tem permissões suficientes.'
        '302':
          description: 'Redirecionando após bloquear ou desbloquear a conta'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Bloqueio feito com sucesso. Redirecionando o perfil.'
                  value: '/perfil/{idUtilizador}'
                302Erro:
                  description: 'Bloqueio de conta rejeitado. Redirecionando o perfil.' 
                  value: '/perfil/{idUtilizador}'

#M04
  /questao/{idQuestao}:
    get:
      operationId: R401
      summary: 'R401: Visualização de questões. Acesso: PUB'
      description: 'Mostra a página que apresenta a página de uma questão com as suas respostas e comentários.'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Mostra a página da questão'
        '404':
          description: 'Erro. Questão com determinado id não encontrada'
  
  /votar/questao/{idQuestao}:
    get:
      operationId: R402
      summary: 'R402: Número de votos em questões. Acesso: PUB'
      description: 'Retorna o número de votos numa questão'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true 
      responses:
        '200':
          description: 'Ok. Retorna os votos numa questão'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    nVotos:
                      type: integer
        '404':
          description: 'Erro. Questão com determinado id não encontrada'
    post:
      operationId: R403
      summary: 'R403: Votação em questões. Acesso: USR'
      description: 'Processa um pedido de voto em determinada questão'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idUtilizador:
                  type: integer
              required:
                - idUtilizador
      responses:
        '200':
          description: 'Voto pôde ser processado'
        '403':
          description: 'Voto foi inválido (pelo utilizador já ter votado por exemplo)'

  /votar/resposta/{idResposta}:
    get:
      operationId: R404
      summary: 'R404: Número de votos em respostas. Acesso: PUB'
      description: 'Retorna o número de votos numa resposta'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok. Retorna os votos numa resposta'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    nVotos:
                      type: integer
        '404':
          description: 'Erro. Resposta com determinado id não encontrada'
    post:
      operationId: R405
      summary: 'R405: Votação em respostas. Acesso: USR'
      description: 'Processa um pedido de voto em determinada resposta'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idResposta
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idUtilizador:
                  type: integer
              required:
                - idUtilizador
      responses:
        '200':
          description: 'Voto pôde ser processado'
        '403':
          description: 'Voto foi inválido (pelo utilizador já ter votado por exemplo)'
  
  /criar/resposta:
    post:
      operationId: R406
      summary: 'R406: Criação de Respostas. Acesso: USR'
      description: 'Processa o pedido de criação de uma resposta a uma questão'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir a resposta'
                  type: integer
              required:
                - texto
                - autor
                - idQuestao
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'

  /criar/comentario:
    post:
      operationId: R407
      summary: 'R407: Criação de Comentários. Acesso: USR'
      description: 'Processa o pedido de criação de um comentário a uma questão ou resposta'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                texto:
                  type: string
                autor:
                  description: 'ID do utilizador autenticado no momento do pedido'
                  type: integer
                idQuestao:
                  description: 'ID da questão onde se pretende inserir o comentário'
                  type: integer
                idResposta:
                  description: 'ID da resposta onde se pretende inserir o comentário'
              required:
                - texto
                - autor
      responses:
        '200':
          description: 'Resposta criada com sucesso'
        '403':
          description: 'Não foi possível criar a questão'

  /resposta-correta/{idQuestao}:
    get:
      operationId: R408
      summary: 'R408: Acesso à resposta correta. Acesso: PUB'
      description: 'Retorna o id da resposta correta a uma determinada questão'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      responses:
        '200': 
          description: 'Ok. Questão encontrada'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    idResposta:
                      type: integer
    post:
      operationId: R409
      summary: 'R408: Marca a resposta correta. Acesso: OWN'
      description: 'Marca como correta a resposta de id enviado.'
      tags:
        - 'M04: Visualização, votação e resposta a questões'
      parameters:
        - in: path
          name: idQuestao
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                idResposta:
                  description: 'Resposta que deve ser marcada como correta'
                  type: integer
              required:
                - idResposta
      responses:
        '200': 
          description: 'Resposta marcada com sucesso'
        '403':
          description: 'Resposta ou Questão não encontradas.'

  /questoes:
      get:
        operationId: R410
        summary: 'R410: Lista de Questões'
        description: 'Mostra a lista de questões associadas a uma pesquisa. Acesso: PUB'
        tags:
          - 'M03: Pesquisa de questões'
        parameters:
        - in: query
          name: query
          description: 'Pesquisa exata'
          schema:
            type: string
          required: false
        - in: query
          name: etiqueta
          description: 'Pesquisa por etiquetas'
          schema:
            type: string
          required: false
        - in: query
          name: ordenar
          description: 'Ordenação de perguntas'
          schema:
            type: string
            enum:
              - mais_votos
              - mais_recente
              - mais_reputacao
          required: false
        responses:
          '200':
            description: 'Ok. Mostra a lista de questões'
            content:
              application/json:
                schema:
                  type: array
                  items:
                    type: object
                    properties:
                      id_questao:
                        type: integer #responder só com os ids das questoes?

#M05
  /criarquestao:
    get:
      operationId: R501
      summary: 'R501: Criação de questões'
      description: 'Mostra a página de criação de questões. Acesso: USR'
      tags:
        - 'M05: Criação e edição de questões. Edição de respostas e comentários'
      responses:
        '200':
          description: 'Ok. Mostra a página de criação de questões.'
    post:
      operationId: R502
      summary: 'R502: Cria uma questão'
      description: 'Cria uma questão. Acesso: USR'
      tags:
      - 'M05: Criação e edição de questões. Edição de respostas e comentários'
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                titulo:
                  type: string
                texto:
                  type: string
                etiqueta:
                  type: string
              required:
                - titulo
                - texto
                - etiqueta
    
      responses:
        '302':
          description: 'Redirecionando após criar questão'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Criação de questão feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{id_questao}'
                302Erro:
                  description: 'Falha na criação da questão. Redirecionando para a homepage' 
                  value: '/'

  /questao/{id_questao}/editar:
    get:
      operationId: R503
      summary: 'R503: Editar questões'
      description: 'Mostra a página de edição de questões. Acesso: OWN'
      tags:
      - 'M05: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: id_questao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição de questões.'
    post:
      operationId: R504
      summary: 'R504: Edita uma questão'
      description: 'Edita uma questão. Acesso: OWN'
      tags:
      - 'M05: Criação e edição de questões. Edição de respostas e comentários'
      
      parameters:
      - in: path
        name: id_questao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                titulo:
                  type: string
                texto:
                  type: string
                etiqueta:
                  type: string
              required:
                - titulo
                - texto
                - etiqueta
    
      responses:
        '302':
          description: 'Redirecionando após editar questão'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Edição de questão feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{id_questao}'
                302Erro:
                  description: 'Falha na edição da questão. Redirecionando para a página da questão' 
                  value: '/questao/{id_questao}'
  /questao/{id_questao}/editar_interacao/{id_interacao}: 
    get:
      operationId: R505
      summary: 'R505: Editar respostas ou comentários'
      description: 'Mostra a página de edição de respostas ou comentários. Acesso: OWN'
      tags:
      - 'M05: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: id_interacao
        description: 'id da interação'
        schema:
          type: integer
        required: true
      - in: path
        name: id_questao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      - in: query
        name: tipo
        description: 'Tipo de interação: resposta ou comentário'
        schema:
          type: string
          enum:
            - resposta
            - comentario
        required: true
      responses:
        '200':
          description: 'Ok. Mostra a página de edição de respostas ou comentários.'
    post:
      operationId: R506
      summary: 'R506: Edita uma reposta ou comentário'
      description: 'Edita uma resposta ou comentário. Acesso: OWN'
      tags:
      - 'M05: Criação e edição de questões. Edição de respostas e comentários'
      parameters:
      - in: path
        name: id_interacao
        description: 'id da interação'
        schema:
          type: integer
        required: true
      - in: path
        name: id_questao
        description: 'id da questao'
        schema:
          type: integer
        required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded: 
            schema:
              type: object
              properties:
                texto:
                  type: string
              required:
                - texto
    
      responses:
        '302':
          description: 'Redirecionando após editar resposta ou comentário '
          headers:
            Location:
              schema:
                type: string
              examples:
                302Sucesso:
                  description: 'Edição de resposta ou comentário feito com sucesso. Redirecionando para a página da questão'
                  value: '/questao/{id_questao}'
                302Erro:
                  description: 'Falha na edição da resposta ou do comentário. Redirecionando para a página da questão' 
                  value: '/questao/{id_questao}'
